{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BioLinkAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
   
    <div class="container">
         {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p style="color:cyan;">{{ success }}</p>
        {% endif %}
        <h1>Welcome to BioLinkAI</h1>
        <p>Your gateway to intelligent biological data analysis.<br>
        Start exploring your data with AI-powered tools.</p>
        <form method="post" class="bio-form">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>
            </div>
            <div class="form-group">
                <label for="mobile_no">Mobile No:</label>
                <input type="tel" id="phoneno" name="phoneno" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2023 BioLinkAI. All rights reserved.</p>
</body>
</html>